<div class="final">
    <app-back-button></app-back-button>
    <div class="final-container">
        <span class="total-answers">Correct: {{quizResults.points}} out of {{quizResults.totalQuestions}}</span>
        <span class="total-answers">Time: {{resultsService.formatTime(quizResults.time.minutes)}}:{{resultsService.formatTime(quizResults.time.seconds)}}</span>
        <mat-progress-bar mode="determinate" [value]="quizResults.precentage"></mat-progress-bar>
        <span class="precentage">{{quizResults.precentage}}%</span>
    </div>
</div>